<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
          }
        }
      </script>

      <!-- <script src="/index.js" type="module"></script> -->


    <title>Blender Part List</title>
    <style>body{margin:0} 
       
        ul
        {
            list-style: none;
            list-style-type:none;
            padding:0px;
            margin:0px;
        }
        ul > li
        {
           display:inline;
            padding-left:14px;
        }
        .inner-table > td{
            border: 1px solid black; /* Adds border to table cells */
            padding: 8px;
            text-align: left;

        }
        </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Trio Labs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="btn btn-lg btn-dark my-2 my-sm-0" href="/">Back</a>

        </div>
      </nav>


      <div class="container-fluid p-5">


      <h1>Blender Parts</h1>
      <p>To view the precise location of the part, click the view in 3D view column. Instructions to use the viewer can be found <a href="https://help.autodesk.com/view/ADSKVIEWER/ENU/?guid=ADSKVIEWER_Help_AutodeskViewerTools_html" target="_blank">here.</a> </p> 


      <!-- TABLE  -->
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Sub-Component</th>
            <th scope="col">Parts/ID Tags/3D View</th>
            <!-- <th scope="col">Quantity</th> -->
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th scope="row">Blender 1.4</th>
            <td colspan="3">

              <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Storage Reference Tag</th>
                        <th>3D View</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be added here dynamically -->
                </tbody>
            </table>
            
            </td>
            
          </tr>
         
        </tbody>
      </table>

    
      </div>

      <!-- <script type="module" src="/index.js"></script> -->

</body>
<script>
  // Data for table rows
  const data = [
    { partName: '98269A450_Black-Oxide 18-8 Stainless Steel Washer_98269A450', quantity: 'x 1', partNumber: 'NS-A-64-1-1' },
    { partName: 'CAD-10224-Rev01-Blender 3.0 Shaft', quantity: 'x 1', partNumber: 'NS-A-64-1-2' },
    { partName: 'CAD-10223-Rev01-Flanged Linear Bearing Spacer', quantity: 'x 1', partNumber: 'NS-A-64-1-3' },
    { partName: 'OTS-10094-Rev01-Horizontal Mount Flanged Bearing for 80mm T Slot Rail_5537T645', quantity: 'x 1', partNumber: 'NS-A-64-1-4' },
    { partName: '9263K718_Chemical-Resistant Viton Fluoroelastomer O-Ring_9263K718', quantity: 'x 1', partNumber: 'NS-A-64-1-5' },
    { partName: 'CAD-10226-Rev01-Blender 3.0 Shaft Splash Guard', quantity: 'x 1', partNumber: 'NS-A-64-1-6' },
    { partName: 'CAD-10219-Rev01-Blender 3.0 Head', quantity: 'x 1', partNumber: 'NS-A-64-1-7' },
    { partName: '9845T104_Vibrate-Damping Precision Flexible Shaft Coupling_9845T104', quantity: 'x 1', partNumber: 'NS-A-64-1-8' },
    { partName: 'OST-10028-Rev01-Sealed Limit Switch_7282K11', quantity: 'x 1', partNumber: 'NS-A-64-1-9' },
    { partName: '9845T11_Durometer 98A Spider for 3 4 OD for Clamping Vibrate-Damping Precision Flexible Shaft Coupling_9845T11', quantity: 'x 1', partNumber: 'NS-A-64-1-10' },
    { partName: '6153K88_Stainless Steel Ball Bearing_6153K88', quantity: 'x 2', partNumber: 'NS-A-64-1-11' },
    { partName: '3014K13_Threaded Shaft Collar_3014K13', quantity: 'x 1', partNumber: 'NS-A-64-1-12' },
    { partName: 'CAD-10218-Rev01-Blender 3.0 Motor Mount', quantity: 'x 1', partNumber: 'NS-A-64-1-13' },
    { partName: 'CAD-10222-Rev01-Blender 3.0 Mounting Plate', quantity: 'x 1', partNumber: 'NS-A-64-1-14' },
    { partName: 'CAD-10220-Rev01-Blender 3.0 Motor Cover', quantity: 'x 1', partNumber: 'NS-A-64-1-15' },
    { partName: 'CAD-10221-Rev01-Blender 3.0 Beaker Base', quantity: 'x 1', partNumber: 'NS-A-64-1-16' },
    { partName: '98541A116_External Retaining Ring_98541A116', quantity: 'x 1', partNumber: 'NS-A-64-1-17' },
    { partName: 'OTS-10018-Rev01-Saw Blade Mixer', quantity: 'x 1', partNumber: 'NS-A-64-1-18' },
    { partName: 'OTS-10020-Rev01-Maxon Blender Motor', quantity: 'x 1', partNumber: 'NS-A-64-1-19' },
    { partName: 'OTS-10093-Rev02-80mm x 40mm Blender T Slot Extrusion', quantity: 'x 1', partNumber: 'NS-A-64-1-20' },
    { partName: 'OTS-10049-Rev01-Hand Brake for 40mm Single and 80mm High Double Sleeve Bearing Carriage for T-Slotted Framing_60585K99', quantity: 'x 1', partNumber: 'NS-A-64-1-21' },
    { partName: '9845T106_Vibrate-Damping Precision Flexible Shaft Coupling_9845T106', quantity: 'x 1', partNumber: 'NS-A-64-1-22' }
];





  const tbody = document.querySelector('#myTable tbody');

  data.forEach(item => {
      // Create a new row
      const tr = document.createElement('tr');

      // Create and append the description cell
      const tdDescription = document.createElement('td');
      tdDescription.textContent = item.partName;
      tr.appendChild(tdDescription);

      // Create and append the quantity cell
      const tdQuantity = document.createElement('td');
      tdQuantity.textContent = item.quantity;
      tr.appendChild(tdQuantity);

      // Create and append the part number cell
      const tdPartNumber = document.createElement('td');
      tdPartNumber.textContent = item.partNumber;
      tr.appendChild(tdPartNumber);

      // Create and append the action cell with a link
      const tdAction = document.createElement('td');
      const link = document.createElement('a');
      link.href = `/3d/blender/${item.partName}`; // Encoding the URL component
      link.textContent = 'View';
      link.classList.add('btn'); // Adding the 'btn' class for styling
      tdAction.appendChild(link);
      tr.appendChild(tdAction);

      // Append the row to the table body
      tbody.appendChild(tr);
  });
</script>
</html>