<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
          }
        }
      </script>

      <!-- <script src="/index.js" type="module"></script> -->


    <title>Main Support Part List</title>
    <style>body{margin:0} 
       
        ul
        {
            list-style: none;
            list-style-type:none;
            padding:0px;
            margin:0px;
        }
        ul > li
        {
           display:inline;
            padding-left:14px;
        }
        .inner-table > td{
            border: 1px solid black; /* Adds border to table cells */
            padding: 8px;
            text-align: left;

        }
        </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Trio Labs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="btn btn-lg btn-dark my-2 my-sm-0" href="/">Back</a>
        </div>
      </nav>


      <div class="container-fluid p-5">


        <h1>Carriage Parts</h1>
        <p>To view the precise location of the part, click the view in 3D view column. Instructions to use the viewer can be found <a href="https://help.autodesk.com/view/ADSKVIEWER/ENU/?guid=ADSKVIEWER_Help_AutodeskViewerTools_html" target="_blank">here.</a> </p> 
  
  
        <!-- TABLE  -->
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Sub-Component</th>
              <th scope="col">Parts/ID Tags/3D View</th>
              <!-- <th scope="col">Quantity</th> -->
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <th scope="row">Carriage  2.2</th>
              <td colspan="3">
  
                <table id="myTable" class="table table-striped">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Storage Reference Tag</th>
                          <th>3D View</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Rows will be added here dynamically -->
                  </tbody>
              </table>
              
              </td>
              
            </tr>
           
          </tbody>
        </table>
  
      
        </div>
  
        <!-- <script type="module" src="/index.js"></script> -->
  
  </body>
<script>
  // Data for table rows
  

  const data = [
    {
        partName: "CAD-10125-Rev01-Carriage Splash Guard Belt Anchor Half1",
        quantity: "x 2",
        partNumber: "NS-C-68-1-1"
    },
    {
        partName: "OTS-10027-Rev01-U Channel Splash Guard_9001K238",
        quantity: "x 2",
        partNumber: "NS-C-68-1-2"
    },
    {
        partName: "CAD-10149-Rev01-LM3 Stage Bracket",
        quantity: "x 1",
        partNumber: "NS-C-68-2-1"
    },
    {
        partName: "CAD-10241-Rev01-Power Meter RJ-45 Jack Mount",
        quantity: "x 1",
        partNumber: "NS-C-68-2-2"
    },
    {
        partName: "CAD-10126-Rev01-Carriage Splash Guard Belt Anchor Half2",
        quantity: "x 1",
        partNumber: "NS-C-68-2-3"
    },
    {
        partName: "CAD-10141-Rev01-Splash Guard Top",
        quantity: "x 1",
        partNumber: "NS-C-68-1-3"
    },
    {
        partName: "CAD-10154-Rev01-Fume Box Rail Rear Support - Right",
        quantity: "x 1",
        partNumber: "NS-C-68-1-4"
    },
    {
        partName: "CAD-10193-Rev01-LM3 Stage LS Mount",
        quantity: "x 2",
        partNumber: "NS-C-68-1-5"
    },
    {
        partName: "OTS-10098-Rev01-20mm x 20mm x 2mm Bellows Guide Support Aluminum Angle_5585N119",
        quantity: "x 1",
        partNumber: "NS-C-68-1-6"
    },
    {
        partName: "CAD-10214-Rev01-Carriage Hard Stop Bumper Bracket",
        quantity: "x 2",
        partNumber: "NS-C-68-2-4"
    },
    {
        partName: "5537T926_T-Slotted Framing for carriage stops right side_5537T926",
        quantity: "x 2",
        partNumber: "NS-C-68-2-5"
    },
    {
        partName: "CAD-10213-Rev01-Carriage Hard Stop Bracket",
        quantity: "x 2",
        partNumber: "NS-C-68-2-6"
    },
    {
        partName: "OTS-10145-Rev01-18-8 SS Washer M5 ASME Narrow_92217A614",
        quantity: "x 4",
        partNumber: "NA"
    },
    {
        partName: "CAD-10174-Rev01-LM3 Stage Right LS Flag",
        quantity: "x 1",
        partNumber: "NS-C-68-3-1"
    },
    {
        partName: "CAD-10215-Rev01-Carriage Hard Stop Camera Shell",
        quantity: "x 1",
        partNumber: "NS-C-68-3-2"
    },
    {
        partName: "RBC0806(0) (1)",
        quantity: "x 1",
        partNumber: "NS-C-68-3-3"
    },
    {
        partName: "CAD-10102-Rev02-Slot Die Arm",
        quantity: "x 1",
        partNumber: "NS-C-68-3-4"
    },
    {
        partName: "5537T926_T-Slotted Framing for carriage stops left side_5537T926",
        quantity: "x 2",
        partNumber: "NS-C-68-3-5"
    },
    {
        partName: "CAD-10173-Rev01-LM3 Stage Left LS Flag",
        quantity: "x 1",
        partNumber: "NS-C-68-3-6"
    },
    {
        partName: "OTS-10144-Rev01-18-8 SS SHCS M5x0.8x45_91292A195",
        quantity: "x 4",
        partNumber: "NS-C-68-3-7"
    },
    {
        partName: "RBC0806(0)",
        quantity: "x 1",
        partNumber: "NS-C-68-3-8"
    },
    {
        partName: "RBC0806(0)_BODY",
        quantity: "x 1",
        partNumber: "NS-C-68-3-9"
    },
    {
        partName: "OTS-10023-Rev01-Griffin LM3 Stage_Left_over_catch_basin",
        quantity: "x 1",
        partNumber: "NS-C-68-2-7"
    },
    {
        partName: "CAD-10238-Rev01-Helios Projector Lens Cap Lockout",
        quantity: "x 1",
        partNumber: "NS-C-68-2-8"
    },
    {
        partName: "CAD-10134-Rev01-Carriage Splash Guard Bellows End Plate Left",
        quantity: "x 1",
        partNumber: "NS-C-68-2-9"
    },
    {
        partName: "CAD-10135-Rev01-Carriage Splash Guard Bellows End Plate Right",
        quantity: "x 1",
        partNumber: "NS-C-68-2-10"
    },
    {
        partName: "CAD-10155-Rev01-Fume Box Rail Rear Support - Left",
        quantity: "x 1",
        partNumber: "NS-C-68-2-11"
    },
    {
        partName: "CAD-10243-Rev01-Splash Guard Box Lockout Switch Mounting Bracket",
        quantity: "x 1",
        partNumber: "NS-C-68-2-12"
    }
]





  const tbody = document.querySelector('#myTable tbody');

  data.forEach(item => {
      // Create a new row
      const tr = document.createElement('tr');

      // Create and append the description cell
      const tdDescription = document.createElement('td');
      tdDescription.textContent = item.partName;
      tr.appendChild(tdDescription);

      // Create and append the quantity cell
      const tdQuantity = document.createElement('td');
      tdQuantity.textContent = item.quantity;
      tr.appendChild(tdQuantity);

      // Create and append the part number cell
      const tdPartNumber = document.createElement('td');
      tdPartNumber.textContent = item.partNumber;
      tr.appendChild(tdPartNumber);

      // Create and append the action cell with a link
      const tdAction = document.createElement('td');
      const link = document.createElement('a');
      link.href = `/3d/carriage/${item.partName}`; // Encoding the URL component
      link.textContent = 'View';
      link.classList.add('btn'); // Adding the 'btn' class for styling
      tdAction.appendChild(link);
      tr.appendChild(tdAction);

      // Append the row to the table body
      tbody.appendChild(tr);
  });
</script>
</html>