<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
          }
        }
      </script>

      <!-- <script src="/index.js" type="module"></script> -->


    <title>Main Support Part List</title>
    <style>body{margin:0} 
       
        ul
        {
            list-style: none;
            list-style-type:none;
            padding:0px;
            margin:0px;
        }
        ul > li
        {
           display:inline;
            padding-left:14px;
        }
        .inner-table > td{
            border: 1px solid black; /* Adds border to table cells */
            padding: 8px;
            text-align: left;

        }
        </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Trio Labs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="btn btn-lg btn-dark my-2 my-sm-0" href="/">Back</a>

        </div>
      </nav>


      <div class="container-fluid p-5">


        <h1>Main Support Frame Parts</h1>
        <p>To view the precise location of the part, click the view in 3D view column. Instructions to use the viewer can be found <a href="https://help.autodesk.com/view/ADSKVIEWER/ENU/?guid=ADSKVIEWER_Help_AutodeskViewerTools_html" target="_blank">here.</a> </p> 
  
  
        <!-- TABLE  -->
        <table class="table mt-3">
          <thead>
            <tr>
              <th scope="col">Sub-Component</th>
              <th scope="col">Parts/ID Tags/3D View</th>
              <!-- <th scope="col">Quantity</th> -->
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <th scope="row">Main Support 1.1</th>
              <td colspan="3">
  
                <table id="myTable" class="table table-striped">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Quantity</th>
                          <th>Storage Reference Tag</th>
                          <th>3D View</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Rows will be added here dynamically -->
                  </tbody>
              </table>
              
              </td>
              
            </tr>
           
          </tbody>
        </table>
  
      
        </div>
  
        <!-- <script type="module" src="/index.js"></script> -->
  
  </body>
<script>
  // Data for table rows
  

  const data =[
    {
        partName: "AQME_40-4332_20221121094016",
        quantity: "x 2",
        partNumber: "NS-C-69-2-1"
    },
    {
        partName: "AQME_40-4334_20221121093321",
        quantity: "x 4",
        partNumber: "NS-C-69-2-2"
    },
    {
        partName: "AQME_40-4080_20221121092720",
        quantity: "x 2",
        partNumber: "NS-C-69-1-M"
    },
    {
        partName: "AQME_40-4040_20221121093210",
        quantity: "x 2",
        partNumber: "NS-C-69-1-H"
    },
    {
        partName: "AQME_2327_20221121095221",
        quantity: "x 6",
        partNumber: "NS-C-69-2-3"
    },
    {
        partName: "AQME_40-4334_20221121094123",
        quantity: "x 2",
        partNumber: "NS-C-69-2-4"
    },
    {
        partName: "AQME_40-4080_20221121091338",
        quantity: "x 4",
        partNumber: "NS-C-69-1-M"
    },
    {
        partName: "AQME_40-8080_20221121084813",
        quantity: "x 4",
        partNumber: "NS-C-69-1-N"
    },
    {
        partName: "AQME_40-4338_20221121093752",
        quantity: "x 2",
        partNumber: "NS-C-69-2-5"
    },
    {
        partName: "AQME_40-4080_20221121091408",
        quantity: "x 4",
        partNumber: "NS-C-69-1-K"
    },
    {
        partName: "AQME_40-4080_20221121085521",
        quantity: "x 2",
        partNumber: "NS-C-69-1-L"
    },
    {
        partName: eBom-FreeParts,
        quantity: "x 1",
        partNumber: "NS-C-69-1-NA"
    },
    {
        partName: "AQME_40-4040_20221121093951",
        quantity: "x 2",
        partNumber: "NS-C-69-1-J"
    },
    {
        partName: "AQME_40-4334_20221121093253",
        quantity: "x 2",
        partNumber: "NS-C-69-2-6"
    },
    {
        partName: "AQME_40-8080_20221121093845",
        quantity: "x 2",
        partNumber: "NS-C-69-1-O"
    },
    {
        partName: "AQME_40-4040_20221121094057",
        quantity: "x 2",
        partNumber: "NS-C-69-1-I"
    },
    {
        partName: "AQME_40-4336_20221121093709",
        quantity: "x 2",
        partNumber: "NS-C-69-2-7"
    },
    {
        partName: "AQME_40-4040_20221121093011",
        quantity: "x 1",
        partNumber: "NS-C-69-1-E"
    },
    {
        partName: "AQME_40-4080_20221121092818",
        quantity: "x 1",
        partNumber: "NS-C-69-1-K"
    },
    {
        partName: "AQME_40-4080_20221121085256",
        quantity: "x 1",
        partNumber: "NS-C-69-1-X"
    }
]





  const tbody = document.querySelector('#myTable tbody');

  data.forEach(item => {
      // Create a new row
      const tr = document.createElement('tr');

      // Create and append the description cell
      const tdDescription = document.createElement('td');
      tdDescription.textContent = item.partName;
      tr.appendChild(tdDescription);

      // Create and append the quantity cell
      const tdQuantity = document.createElement('td');
      tdQuantity.textContent = item.quantity;
      tr.appendChild(tdQuantity);

      // Create and append the part number cell
      const tdPartNumber = document.createElement('td');
      tdPartNumber.textContent = item.partNumber;
      tr.appendChild(tdPartNumber);

      // Create and append the action cell with a link
      const tdAction = document.createElement('td');
      const link = document.createElement('a');
      link.href = `/3d/mainsupport/${item.partName}`; // Encoding the URL component
      link.textContent = 'View';
      link.classList.add('btn'); // Adding the 'btn' class for styling
      tdAction.appendChild(link);
      tr.appendChild(tdAction);

      // Append the row to the table body
      tbody.appendChild(tr);
  });
</script>
</html>